# Third Party Licenses
This page lists the licenses of the projects used in csv-converter.

## Overview of licenses:
{{#each overview}}
- [{{name}}](#{{id}}) ({{count}})
{{/each}}

## All license text:
{{#each licenses}}
### {{name}} <a name="{{id}}"></a>
#### Used by:
{{#each used_by}}
- <a href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}} {{crate.version}}</a>
{{/each}}
```
    {{{text}}}
```
{{/each}}
